body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

footer {
  background-color: #2f303a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-section {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 320px) {
  .header-section {
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    height: 60px;
  }
}
@media screen and (min-width: 480px) {
  .header-section {
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header-section {
    margin-right: auto;
    margin-left: auto;
    width: 768px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header-section {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .header-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) {
  .header-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-right: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 320px) {
  .header-logo {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 5px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 480px) {
  .header-logo {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 260px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 15px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 93px;
  }
}

.header-logo__black-part {
  color: #000000;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo__blue-part {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}
.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .header-navigation {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}
.header-navigation__link {
  text-decoration: none;
  display: block;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-navigation__link--active:hover {
  color: #2196f3;
}
.header-navigation__link--current {
  color: #2196f3;
}
.header-navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
}
.header-navigation__link--current::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    margin-bottom: 21px;
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
    margin-right: 50px;
  }
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link--active:hover, .header-contacts__link--active:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.header-contacts__mail-icon {
  margin-right: 10px;
}

.header-contacts__phone-icon {
  margin-right: 10px;
}

.menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover {
  color: #2196f3;
}

.js-open-menu:hover,
.js-open-menu:focus {
  color: #2196f3;
  fill: #2196f3;
}

.js-close-menu:hover,
.js-close-menu:focus {
  color: #2196f3;
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.menu-mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

.menu-mobile-list__item {
  margin-left: 40px;
  margin-bottom: 32px;
}
.menu-mobile-list__item__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: #212121;
  text-decoration: none;
}
.menu-mobile-list__link--active:hover, .menu-mobile-list__link--active:focus {
  color: #2196f3;
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-contacts__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
  margin-left: 40px;
  margin-top: 200px;
  text-decoration: none;
}

.menu-contacts__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
  margin-left: 40px;
  margin-top: 32px;
  text-decoration: none;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.mobile-social__item {
  margin-top: 64px;
}

.mobile-social__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  text-decoration: none;
  margin-right: 20px;
}
.mobile-social__link__link:last-child {
  margin-right: 0;
}
@media screen and (min-width: 320px) {
  .mobile-social__link {
    margin-right: 20px;
    font-size: 11px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 480px) {
  .mobile-social__link {
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.mobile-social__separator {
  text-align: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 15px;
}

.hero-bg {
  background-color: #2f303a;
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-m1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-m1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-m2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-m2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-t1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-t1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-t2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-t2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-bg {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-d1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-d1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-d2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-d2x.jpg");
  }
}

.hero {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero-block {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.hero-block__title {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .hero-block__title {
    font-size: 26px;
    line-height: 1.62;
    margin-top: 118px;
  }
}
@media screen and (min-width: 480px) {
  .hero-block__title {
    font-size: 26px;
    max-width: 360px;
    line-height: 1.62;
    margin-top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-block__title {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.37;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
}

.hero-block__button {
  width: 216px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: "Roboto";
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .hero-block__button {
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 1.88;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 480px) {
  .hero-block__button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px 24px;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(47, 48, 58, 0.4);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 320px) {
  .modal {
    width: 300px;
    min-height: 400px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close--active:hover {
  fill: #2196f3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}
@media screen and (min-width: 320px) {
  .modal__title {
    font-size: 16px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 320px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
}
@media screen and (min-width: 320px) {
  .modal-form__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__item {
    margin-bottom: 28px;
  }
}

.modal-form__contacts {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.modal-form__type-field {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__type-field--active:focus {
  border-color: #2196f3;
}

.modal-form__field-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-form__icon-name {
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.modal-form__field-name--active:focus-within > .modal-form__icon-name {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__field-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-form__icon-tel {
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.modal-form__field-tel--active:focus-within > .modal-form__icon-tel {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-form__field-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-form__icon-email {
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.modal-form__field-email--active:focus-within > .modal-form__icon-email {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
  .modal-container {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) {
  .modal-container {
    margin-bottom: 20px;
  }
}

.modal-container__comment {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.modal-container__text {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container__text--active:focus-within {
  border-color: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (min-width: 320px) {
  .modal-container__text {
    height: 80px;
    font-size: 10px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1200px) {
  .modal-container__text {
    height: 120px;
    font-size: 16px;
    line-height: 1.3;
  }
}

.modal-block {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}
@media screen and (min-width: 320px) {
  .modal-block {
    font-size: 7px;
    line-height: 1.11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .modal-block {
    font-size: 10px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1200px) {
  .modal-block {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-block__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-block__icon-white {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 17px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal-block__checkbox--active:checked + .modal-block__icon-white {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-block__link-terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  margin-left: 2px;
}
@media screen and (min-width: 320px) {
  .modal-block__link-terms {
    font-size: 7px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 480px) {
  .modal-block__link-terms {
    font-size: 10px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1200px) {
  .modal-block__link-terms {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-submit__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: transparent;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 320px) {
  .modal-submit__button {
    width: 150px;
    height: 40px;
  }
}
@media screen and (min-width: 320px) {
  .modal-submit__button {
    width: 200px;
    height: 50px;
  }
}

.company-bg {
  padding-top: 0;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.company {
  background-color: #ffffff;
}

.company__title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
}

.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.company__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .company__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .company__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.company__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 320px) {
  .company__block {
    width: 300px;
    height: 100px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .company__block {
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .company__block {
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .company__block {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}

.company__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  width: 270px;
}
@media screen and (min-width: 480px) {
  .company__title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .company__title {
    width: 354px;
    height: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .company__title {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.company__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
}
@media screen and (min-width: 480px) {
  .company__text {
    width: 450px;
    height: 50px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .company__text {
    width: 354px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .company__text {
    width: 270px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.works-bg {
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  .works-bg {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .works-bg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .works-bg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works-bg {
    display: block;
    padding-top: 0;
  }
}

.works {
  background-color: #ffffff;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.works__list {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__item {
  margin-right: 30px;
}
.works__item--changing-properties:last-child {
  margin: 0;
}

.works__image {
  position: relative;
}

.works__position-text {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__text {
  margin: 0;
}

.team-bg {
  background-color: #f5f4fa;
}
@media screen and (min-width: 320px) {
  .team-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .team-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .team-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 480px) {
  .team-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.team {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .team {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .team {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
@media screen and (min-width: 320px) {
  .team__item {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__specialist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .team__specialist {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 480px) {
  .team__specialist {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.team__job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .team__job-title {
    margin-bottom: 16px;
  }
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 32px 30px 32px;
}
@media screen and (min-width: 480px) {
  .team__block {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team__block {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__block {
    padding-bottom: 0;
  }
}

.team__button {
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ffffff;
  fill: #afb1b8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__button--active:hover, .team__button--active:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .customers-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .customers__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .customers__title {
    margin-bottom: 30px;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 480px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.customers__link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link--active:hover, .customers__link--active:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 320px) {
  .customers__link {
    width: 150px;
  }
}
@media screen and (min-width: 480px) {
  .customers__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

@media screen and (min-width: 320px) {
  .customers__icon {
    margin: 16px 26px;
  }
}
@media screen and (min-width: 480px) {
  .customers__icon {
    margin: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .customers__icon {
    margin: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__icon {
    margin: 16px 32px;
  }
}

.footer-sections {
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .footer-container {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .footer-container {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}

.footer-logo {
  width: 145px;
}
@media screen and (min-width: 320px) {
  .footer-logo {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 480px) {
  .footer-logo {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-left: 0;
    text-align: left;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.footer-logo__white-part {
  color: #ffffff;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo__blue-part {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}
@media screen and (min-width: 320px) {
  .address-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .address-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address {
  font-size: 14px;
  line-height: 1.72;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__item {
  margin-bottom: 9px;
}
.address__item--changing-properties:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 320px) {
  .address__item {
    margin-bottom: 12px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .address__item {
    margin-bottom: 12px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__address-line {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}

.address__contact-link {
  font-size: 14px;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact-link--active:hover, .address__contact-link--active:focus {
  color: #2196f3;
}

.join-in {
  margin-top: 72px;
  margin-right: 93px;
}
@media screen and (min-width: 320px) {
  .join-in {
    margin-top: 60px;
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .join-in {
    margin-top: 60px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .join-in {
    margin-top: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join-in {
    margin-bottom: 50px;
    margin-right: 93px;
    margin-left: 70px;
  }
}

.join-in__title {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .join-in__title {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .join-in__title {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join-in__title {
    text-align: left;
  }
}

.join-in__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-in__link {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-in__link--active:hover, .join-in__link--active:focus {
  background: #2196f3;
  fill: #ffffff;
}

.join-in__icon {
  background-position: center;
  fill: #ffffff;
  margin: 0;
  padding: 0;
}

.subscribe {
  margin-top: 72px;
}
@media screen and (min-width: 320px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
}

.subscribe__title {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .subscribe__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.subscribe__submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 320px) {
  .subscribe__submit {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__submit {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__submit {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.gallery-bg {
  background-color: #ffffff;
}

.gallery-navigation {
  background-color: #ffffff;
}

.gallery-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 298px 50px 297px;
}

.gallery-navigation__item {
  margin-right: 8px;
}
.gallery-navigation__item--changing-properties:last-child {
  margin-right: 0;
}
.gallery-navigation__item--active:hover, .gallery-navigation__item--active:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-navigation__button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: "Roboto";
  white-space: nowrap;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-navigation__button--active:hover, .gallery-navigation__button--active:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.gallery__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery__item--active:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__link {
  text-decoration: none;
  color: #212121;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link--active:hover .gallery__position-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery__link--active:focus .gallery__position-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery__images-block {
  position: relative;
  overflow: hidden;
}

.gallery__images {
  display: block;
}

.gallery__position-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__border {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 4px;
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0;
}/*# sourceMappingURL=main.css.map */