.company-bg {
  padding-bottom: 0;
  background-color: $primary-white-color;
}

.company {
  background-color: $primary-white-color;
}

.company__list {
  display: flex;
  align-items: flex-start;
}

.company__item {
  margin-right: 30px;

  &--changing-properties:last-child {
    margin-right: 0;
  }
}

.company__block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: $bg-color-white;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.company__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  width: 270px;
}

.company__text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
}
