.header-logo {
  // margin-left: 215px;
  // width: 145px;

  @media screen and (min-width: 480px) {
    margin-left: 50px;
  }
}

.header-logo__black-part {
  color: $accent-text-color;
  font-family: $accent-fonts;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo__blue-part {
  color: $accent-color;
  font-family: $accent-fonts;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}
