// .menu-mobile-list {
//   display: flex;
//   padding: 0;
//   margin: 0;
//   list-style: none;

//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 47px;
//   letter-spacing: 0.02em;

//   color: #212121;
// }

// @media (max-width: 767px) {
//   .menu-mobile-list {
//     display: none;
//   }
// }

// .menu-mobile-list &__item {
//   padding: 10px;
//   color: inherit;
//   text-decoration: none;
// }

// .menu-mobile-list &__item:hover,
// .menu-mobile-list &__item:focus {
//   color: #2196f3;
// }

// .menu-mobile-list__item {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 47px;
//   letter-spacing: 0.02em;

//   color: #212121;
// }

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

// .menu-toggle:hover,
// .menu-toggle:focus {
//   background-color: rgba(0, 0, 0, 0.1);
// }

// .menu-icons__cross:hover {
//   fill: #2196f3;
// }

// .menu-icons__menu:hover {
//   fill: #2196f3;
// }

.menu-icons {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

// .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: #212121;
//   text-decoration: none;
// }

.menu-mobile-list {
  display: flex;
  flex-direction: column;
}

.menu-mobile-list__item {
  margin-left: 40px;
  margin-bottom: 32px;

  &__item:last-child {
    margin-bottom: 0;
  }
}

.menu-mobile-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: #212121;
  text-decoration: none;

  &--active:hover,
  &--active:focus {
    color: #2196f3;
  }
}

.menu-contacts {
  display: flex;
  flex-direction: column;
}

.menu-contacts__tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  color: #2196f3;

  margin-left: 40px;
  margin-top: 306px;

  text-decoration: none;
}

.menu-contacts__mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;

  color: #757575;

  margin-left: 40px;
  margin-top: 32px;

  text-decoration: none;
}

.mobile-social {
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin-left: 40px;
}

.mobile-social__item {
  margin-top: 64px;
}

.mobile-social__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  color: #2196f3;

  text-decoration: none;

  margin-right: 20px;

  &__link:last-child {
    margin-right: 0;
  }
}

.mobile-social__separator {
  text-align: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 15px;
}
