.footer-sections {
  // width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: $bg-color-black;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
}

// .address-block {
//   margin-right: 70px;
// }
