.header-section {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid $bdr-color-white;
  // position: fixed;
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
