.team-bg {
  background-color: $bg-color-white;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  // margin-bottom: 50px;
}

.team {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  // display: flex;
  // align-items: center;
}

.team__item {
  width: 270px;
  // margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $primary-white-color;

  &--changing-properties:last-child {
    margin: 0;
  }
}

.team__specialist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $title-text-color;
}

.team__block {
  display: flex;
  justify-content: center;
  margin: 16px 32px 30px 32px;
}

.team__button {
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: $primary-white-color;
  fill: $bdr-color-sand;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--active:hover,
  &--active:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}
